1. In order to run run_all_classifiers.py and Bert, You need to download 
https://storage.googleapis.com/bert_models/2018_10_18/uncased_L-12_H-768_A-12.zip
into src_bert. since its to heavy I cannot upload it to github.